@media (min-width: 768px) {
    .new-input{
        width: 60%;
    }

}

/*设置卡片高度一致*/
.card-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* 卡片宽度自适应 */
    grid-gap: 20px; /* 卡片间距为间隙 */
}

.card {
    height: 100%; /* 卡片高度撑满父元素 */
    background-color: #fff; /* 卡片颜色 */
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1); /* 卡片阴影 */
}
/*设置卡片高度一致end*/